

@media screen and (max-width: 998px) {
    .review-container {
        width: 80vw;
    }
}

.review-username {
    text-align: left;
    font-size: smaller;
    font-weight: 500;
}

.review-body {
    grid-column: span 2;
    text-align: left;
}
.review-date {
    text-align: right;
    font-size: small;
    font-weight: 100;
}
.review-placeholder {
    font-style: italic;
}

.review-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-input > * {
    width: 100%;
    margin: 3px;
}

