.analyticsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.analyticsTitle {
    color: #333;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.analyticsCharts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
